html {
  background-color: black;
}

div {
  /* border: 1px red dashed; */
}

body {
  margin: 0;
  /* padding-top: 1.5%; */
  background-image: url('scenes/start.jpg');
  background-size: cover;
  z-index: -1;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('scenes/start.jpg')
  url('scenes/scene-1A-B.jpg')
  url('scenes/scene-1C-A.jpg')
  url('scenes/scene-2A-A.jpg')
  url('scenes/scene-2B-A.jpg')
  url('scenes/scene-2E-C.jpg')
  url('scenes/scene-2E-B.jpg')
  url('scenes/scene-3B-B.jpg')
  url('scenes/Uber-Elevate.jpg');
}

h1 {
  font-family: eurostile, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: white;
}

h2 {
  font-family: eurostile, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: white;
}

button {
  font-size: 1rem;
  padding: 12px 16px;
  border-radius: 3px;
  margin: 12px 0px;
}

button:focus {
  outline: 0;
}

#next-button {
  position: relative;
  background-color: #FFFFFF;
}

#back-button {
  margin-right: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
}

#back-button:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.hidden {
  display: none;
}

/* animations */
.fade-from-left {
  animation: fade-in 1.4s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.refresh {
  animation: refresh-content 1.4s;
}

@keyframes refresh-content {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}

/* Button information */
/* .button-press {
  position: relative;
  height: 70vh;
  width: 20vw;
  transform: rotateZ(15deg) translate(25vw);
  border: 1px blue dashed;
}

.highlight-select {
  animation: highlight-this 1.4s;
} */

@@keyframes highlight-this {

  0% {
    background-color: rgba(30, 30, 245, 0.0);
  } 50% {
    background-color: rgba(30, 30, 245, 0.6);
  } 100% {
    background-color: rgba(30, 30, 245, 0.0);
  }


}

/* Scene Information */
.scene-number {
  margin: 0;
}

.scene-title {
  margin-bottom: 12px;
  font-size: 1.8rem;
}

.scene-description {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  margin: 12px 0px;
}

/* VR toggle */
.vr-toggle {
  /* align-self: content; */
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  /* border: purple 3px dashed; */
  z-index: 2;
}

.vr-toggle-item {
  /* align-content: center; */
  max-height: 720px;
  min-height: 640px;
  width: 90%;
  margin: 5% 2%;
  padding: auto;
  border-radius: 6px;
  /* border: 3px blue dashed; */
}

.vr-toggle-item:hover {
  background-color: rgba(255, 0, 140, 0.5);
}

.vr-toggle-text {
  margin: auto;
  width: 50%;
  height: 50%;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  border: 1px white dashed;
}

/* Navigation */
.header-content {
  display: flex;
  /* justify-content: center; */
  border: white 2px dotted;
}

.navlink {
  color: pink;
  font-size: 24px;
}

.logo {
  /* width: 15%; */
  padding-top: 3%;
  padding-left: 3%;
  width: 48px;
  position: absolute;
}

.nav-bar {
  width: 90%;
  border: green 2px dashed;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-items * {
  border: red 1px dashed;
  /* background-color: white; */
}

.menu-item {
  margin-left: 5%;
  font-family: eurostile, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: white;
}

.menu-item:hover {
  color: blue;
}

.item {
  width: 640px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  z-index: 1;
}

.body-container {
  /* border: 1px blue dashed; */
}

.black-gradient {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
  /* border: green 1px dashed; */
}

/* Screen images */
.screen-container {
  z-index: 1;
}

.screen-image {
  width: 70vw;
  position: absolute;
  bottom: 0px;
}
